.btn {
  width: 100%;
  max-width: 330px;
  height: 64px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: var(--btn-text);
  background: var(--btn-bg);
  border-radius: 16px;
  border: 1px solid var(--btn-border);
  outline: none;
  box-shadow: 2px 2px 6px 0px var(--btn-shadow);
  cursor: pointer;
}

.btn:hover,
.btn:active,
.btn:focus {
  background: var(--purple-gradient);
  color: var(--btn-hover-text);
}

.btn.white {
  color: #6A3AA2;
  background: var(--white);
}

.btn.white:hover,
.btn.white:active,
.btn.white:focus {
  background: var(--purple-gradient);
  color: var(--btn-hover-text);
}