:root {
  --main-bg: #FFF0F0;
  --purple-gradient: linear-gradient(165.54deg, #141333 -33.39%, #202261 15.89%, #543C97 55.84%, #6939A2 74.96%);
  --title: #333333;
  --black: #000000;
  --white: #FBFBFF;
  --btn-text: #201F1F;
  --btn-bg: #EAEEF7;
  --btn-border: #E0E0E0;
  --btn-shadow: #543C9740;
  --btn-hover-text: #FBFBFF;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--main-bg);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
